{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% block title %}Add an Article{% endblock %}

{% block content %}
    <form id="parentFormSubmitBtnUpdateArticle" action="" method="post" enctype="multipart/form-data" class="my-5" style="margin-left: 5rem; margin-right: 5rem;">
        <h1>Add an article</h1><br>
        {% csrf_token %}
        <!-- <div>
             {{ form|crispy }}
        </div> -->
        <div class="form row">
            <div class="form-group col-6 mb-3" style="color: #603F26">
                {{ form.title|as_crispy_field }}              
                {{ form.summary|as_crispy_field }}        
                {{ form.image|as_crispy_field }}              
      
            </div>
            <div class="form-group col-6 mb-3">
                {{ form.published_date|as_crispy_field }}              
                {{ form.author|as_crispy_field }}              
                {{ form.content|as_crispy_field }}              
            </div>
        </div>

        <br>
        <input id="submitBtnModalArticleUpdate" class="py-2 px-3 text-white fw-bold" style="background-color: #603F26; border: none;" type="submit" value="Submit">
    </form>

    <!-- Nested Modal -->
    <div class="modal fade" id="exampleModalArticleUpdate" tabindex="-1" aria-labelledby="exampleModalLabelArticleUpdate" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="display: flex; justify-content: center;">
                    <h5 class="modal-title" id="nestedModalLabel">Article Successfully updated!</h5>
                </div>
                <div class="modal-body text-center">
                    <i style="font-size: 5rem; font-weight: bolder; color: #10eb08;" class="fas fa-check"></i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #603F26; color: white;" data-bs-dismiss="modal">
                        <a href="{% url 'article:article_list' %}" style="text-decoration: none; color: white;">Back to Articles</a>
                    </button>
                </div>
            </div>
        </div>
    </div>              


    

{% endblock %}